<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8"/>
  <link href="/static/style.css" rel="stylesheet" type="text/css"/>
  <title>
   Med Flix
  </title>
 </head>
 <body id="home">
  <div id="mainWrapper">
   <header>
    <div id="logo">
     Med Flix
    </div>
    <div id="headerLinks">
        <nav class="men">
         <form action="/logout" class="gri" method="GET">
             <h8>
            Welcome!
        </h8>
          <button id="logout" type="submit">
         Logout
        </button>
         </form>
        </nav>
    </div>
    <script type="text/javascript">
     function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en'},'google_translate_element');
         }
    </script>
    <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" type="text/javascript">
    </script>
   </header>
   <section id="offer">
    <!-- The offer section displays a banner text for promotions -->
    <h1>
     Movie Recommendation System
    </h1>
    <p>
     Stop searching, Start exploring
    </p>
   </section>
   <div id="content">
    <section class="sidebar">
     <h5>
      MED FLIX
     </h5>
     <div id="menubar">
      <nav class="menu">
       <form action="/main" class="grid" method="POST">
        <label for="movie">
         Enter the movie name:
        </label>
        <input id="movie" placeholder="Search..." name="fname" type="text"/>
        <br/>
        <br/>
        <button id="recommend" type="submit">
         Recommend
        </button>
       </form>
      </nav>
     </div>
    </section>
    <section id="movie_name">
           Result
    </section>
   </div>
   <script>
    function myFunction() {
         var element = document.body;
         element.classList.toggle("dark-mode");
      }
   </script>
   <footer>
    <!-- Footer Section -->
    <section class="footer_banner" id="contact">
     <p class="hero_header">
      Meet The Developer
     </p>
     <div id="details">
      <a class="linkedin" href="https://www.linkedin.com/in/manisha-sinha-a392351bb">
       <img alt="error" height="40" src="https://upload.wikimedia.org/wikipedia/commons/c/ca/LinkedIn_logo_initials.png" width="40"/>
      </a>
      <a class="gmail" href="mailto:sinhamanisha0321@gmail.com">
       <img alt="error" height="40" src="https://upload.wikimedia.org/wikipedia/commons/7/7e/Gmail_icon_%282020%29.svg" width="40"/>
      </a>
      <a class="github" href="https://github.com/manisha0321">
       <img alt="error" height="40" src="https://th.bing.com/th/id/R.c963626c145ea660ba7ceee666789c0a?rik=%2b8pQxk8WvGd0Fw&riu=http%3a%2f%2fpngimg.com%2fuploads%2fgithub%2fgithub_PNG28.png&ehk=SD294NKjXG3JppRn7fPyo6czUcyiLUWeIci5Y0RO%2fbk%3d&risl=&pid=ImgRaw&r=0" width="40"/>
      </a>
     </div>
     <div id="google_translate_element">
     </div>
    </section>
   </footer>
  </div>
 </body>
</html>
